<% @posts.each do |post| %>
    <div class="post" id="post_#{post.id}">
      <h1 class="title"><%= link_to "#{post.title}", post %></h1>
      <h2 class="post_content"><%= simple_format(truncate((post.content), length: 300, separator: '</p>', omission: '...', escape: false)) %></h2>
      <h2 class="created_at"><%= post.created_at.strftime("%d %b %Y") %></h2>
      <span class="read_more"><%= link_to 'Read more...', post %></span>
      <% if logged_in? %>
        <div class="authorized_links">
          <span class="edit"><%= link_to 'Edit', edit_post_path(post) %></span>
          <span class="delete"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?'} %></span>
        </div>
      <% end %>
    </div>
<% end %>