<%= link_to '#' do %>
  <%= image_tag  'rectscaledja.jpg', class: 'avatar' %>
<% end %>

<h1 class="name">Jakub Kopyś</h1>

<ul class="links">
  <li>
    <%= link_to '#', class: 'link' do%>
      <%= fa_icon 'file 2x' %>
      <span class="label CV">CV</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
        <%= fa_icon 'list 2x' %>
        <span class="label">Posts</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
        <%= fa_icon 'user 2x' %>
        <span class="label">Me</span>
    <% end %>
  </li>
</ul>

<div class="separator"></div>

<ul class="links social_media">
  <li>
    <%= link_to '#' do %>
        <%= fa_icon 'twitter 1x' %>
        <span class="label small">Twitter</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
      <%= fa_icon 'facebook-square 1x' %>
      <span class="label small">Facebook</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
        <%= fa_icon 'github 1x' %>
        <span class="label small">Github</span>
    <% end %>
  </li>
</ul>