<!DOCTYPE html>
<html>
<head>
  <title>Myblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="side_panel clearfix">
    <%= render 'layouts/panel' %>
  </div>
  <% if logged_in? %>
    <div class="controls clearfix">
      <%= render 'layouts/controls' %>
    </div>
  <% end %>
  <div class="content">
    <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>
